---
layout: default
---

<section id="intro">


</section>
<section id="partners" class="section-full">

  <h2>Partners</h2>
  <ul>
  {% for partner in site.partners %}

    <li>

      {{ partner.title}}

    </li>

  {% endfor %}
  </ul>
</section>


<section id="projects" class="section-full">

  <h2>Projects</h2>
  <ul>
  {% for partner in site.projects %}

    <li>

      {{ partner.title}}

    </li>

  {% endfor %}
  </ul>
</section>


<section id="news" class="section-full">

  <h2>News</h2>
  <ul>
  {% for partner in site.news %}

    <li>

      {{ partner.title}}

    </li>

  {% endfor %}
  </ul>
</section>
