---
layout: default
---

  {% for slide in site.slides|order:'position' %}
  <div id="slide-{{forloop.index}}" class="slide slide-full fixedsticky" data-color="{{ slide.color }}" data-image="{{slide.image}}">
      <div class="overlay"></div>
      <div class="bg-img"></div>

      <div class="card card-block" style="background-image: url('{{slide.textureImage}}')">
        <div class="">
          <h1>{{ slide.title}}</h1>

          {{ slide.content }}
        </div>
      </div>
      {% if slide.photoCredit|length %}
        <div class="photo-credit">
          Photo: {{ slide.photoCredit }}
        </div>
      {% endif %}
  </div>
  {% endfor %}


<div id="main-content">

  <section id="partners" class="section-full js-section" data-title="Partners">
    <div class="container">

      <ul class="media-list">
      {% for partner in site.partners %}

        <li class="media">

          <div class="media-left media-middle">
            <a href="{{ partner.link }}" target="_blank">
              <img src="{{partner.image}}" class="img-responsive"/>
            </a>
          </div>
          <div class="media-body media-middle">
            <a href="{{ partner.link }}" target="_blank">
              {{ partner.content }}
            </a>
          </div>

        </li>

      {% endfor %}
      </ul>
    </div>
  </section>

  <section id="projects" class="section-full js-section" data-title="Projects">
    <div class="container">


      <ul class="media-list row">
      {% for project in site.projects %}

        <li class="media col-lg-6">
          <a href="{{ project.link }}" target="_blank">
            {% if project.image|length %}
            <div class="media-left">
              <img src="{{project.image}}" width="180px"/>
            </div>
            {% endif %}
            <div class="media-body">
              <h6>{{ project.partner}}</h6>
              <h4>{{ project.title}}</h4>

              {{ project.content }}
            </div>
          </a>

        </li>

      {% endfor %}
      </ul>
    </div>
  </section>

  <section id="board" class="section-full js-section" data-title="Advisory Board">
    <div class="container">
      <div class="lead">{{ site.collections[0].intro|markdownify }}</div>
      <div class="row">
        {% for person in site.board %}
          <div class="col-lg-4 col-md-6">
            <div class="person">
              <h6>{{person.boardPosition}}</h6>
              <a href="{{ person.link }}" target="_blank">
                <h4>{{ person.title}}</h4>
              </a>
              {{ person.content }}
            </div>
          </div>
          {% endfor %}
      </div>
      <p class="lead"><i>{{site.collections[0].comingSoon}}</i></p>
    </div>
  </section>

  <!-- <section id="news" class="section-full">
    <div class="container">

      <ul class="list-unstyled row">
      {% for post in site.posts %}

        <li class="col-md-6">
          <a href="{{ post.link }}" target="_blank">
            <h6>{{ post.date | date: "%B %-d, %Y" }} &mdash; <span>{{ post.partner}}</span></h6>
            <h3>{{ post.title}}</h3>
          </a>
        </li>

      {% endfor %}
      </ul>
    </div>
  </section> -->


</div>
