---
layout: default
---
<section id="slides" class="section-full">

{% for slide in site.slides %}
<div id="slide-{{forloop.index}}" class="slide" style="background-image:url('{{slide.image}}')" >

  <div class="container">

    <div class="card card-block">
      <h1>{{ slide.title}}</h1>

      {{ slide.content }}
    </div>
  </div>
</div>
{% endfor %}
</section>
<section id="partners" class="section-full">
  <div class="container">


    <h2>Partners</h2>
    <ul class="media-list">
    {% for partner in site.partners %}

      <li class="media">

        <div class="media-left">
          <img src="{{partner.image}}"/>
        </div>

        <h3>{{ partner.title}}</h3>

        {{ partner.content }}

      </li>

    {% endfor %}
    </ul>
  </div>
</section>


<section id="projects" class="section-full">
  <div class="container">


    <h2>Projects</h2>
    <ul class="media-list">
    {% for project in site.projects %}

      <li class="media">

        <div class="media-left">
          <img src="{{project.image}}"/>
        </div>

        <h3>{{ project.title}}</h3>

        {{ project.content }}

      </li>

    {% endfor %}
    </ul>
  </div>
</section>


<section id="news" class="section-full">
  <div class="container">

    <ul>
    {% for post in site.posts %}

      <li>

        <h4>{{ post.date }}</h4>

        <h3>{{ post.title}}</h3>


      </li>

    {% endfor %}
    </ul>
  </div>
</section>
