.fixedsticky {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	backface-visibility: hidden;
	/*-webkit-backface-visibility: hidden;*/


}
/* When position: sticky is supported but native behavior is ignored */
.fixedsticky-withoutfixedfixed .fixedsticky-off,
.fixed-supported .fixedsticky-off,
.no-csspositionsticky .fixedsticky {

	position: relative;

}
.fixedsticky-withoutfixedfixed .fixedsticky-on,
.fixed-supported .fixedsticky-on {
	position: fixed;

}


#slide-1 {
	position: fixed;
	top: 0px;
}

#slide-2 {
	position: relative;
	margin-top: 100vh;
}

#slide-2 .fixedsticky-on {
	/*margin-top: 0px;
	top:0px;*/
}

.fixedsticky-dummy {
	display: none;
}
.fixedsticky-on + .fixedsticky-dummy {
	display: block;
}

section#hero {
	height: 200vh;
}
