---
---

@import "bootstrap/bootstrap";

@font-face {
  font-family: 'Fort';
  src: url('../fonts/Fort-Bold.eot');
  src: url('../fonts/Fort-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Fort';
  src: url('../fonts/Fort-Extrabold.eot');
  src: url('../fonts/Fort-Extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}


body {
  -webkit-scroll-snap-type: mandatory;
  font-weight: 500;
}

h1{
  font-weight: 800;
}

h2, h3, h4{
  font-family: $font-family-serif;
  font-weight: 700;
}

h6{
  text-transform: uppercase;
  letter-spacing: 1px;
}
header#header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;

  #logo-wrapper{
    position: relative;
    z-index: 3;
  }

  #logo{
    background-color: $gray;
    padding: $spacer;
    div:nth-child(1){
      color: $brand-primary;
    }
    div:nth-child(2){
      color: $brand-success;
    }
    div:nth-child(3){
      color: $brand-warning;
    }
    div:nth-child(4){
      color: $brand-danger;
    }
  }
  #section-name {
    background-color: $gray-light;
    padding: $spacer;
    color: white;
  }

}

nav#menu{
  z-index: 2;
  h5{
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.collapse{
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(66,64,60,.95);
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;

  .nav-item a{
    color: #fff;
    margin: 2rem 0;

    &:hover{
      color: $brand-primary;
    }

  }
  .nav-item.active a{
    text-decoration: underline;
  }

  &.in{
    display: flex;
  }

}


#slides  {
  z-index: 5;

  .slide {
    ///-webkit-scroll-snap-coordinate: 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    background-color: white;
    height: 100vh;

    padding: 10rem;
  }

  .card{
    max-width: 575px;
    min-height: 440px;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    h1{
      margin-bottom: $spacer;
    }
    p{
      opacity: .8;
      font-size: 1.35rem;
    }
  }
}

#slide-dots{
  position: fixed;
  right: 0;
  top: 50%;
  margin: -70px 0 0;
  li{
    width: 10px;
    height: 10px;
    margin: $spacer;
    background-color: rgba(255,255,255,.5);
    border-radius: 50%;
  }
}

#menu {
  position: fixed;
  top: 0px;
  right:0px;
  padding: $spacer;
}


.section-full {
  height: 100vh;
  -webkit-scroll-snap-coordinate: 0% 0%;
  display: flex;
  align-items: center;
}

.img-responsive{
  max-width: 100%;
}

#partners{
  p{
    font-size: 1.2rem;
  }

  li{
    margin: 2rem 0;
  }
}

#projects{
  h6{
    color: $brand-primary;
    margin-bottom: 4px;
  }
  p{
    font-size: .9375rem;
  }
  img{
    opacity: .3;
    transition: opacity .5s ease;
  }
  .media{
    margin: $spacer 0;
  }
  .media-left{
    padding-right: $spacer;
  }

  .col-md-6:nth-child(odd){
    clear: both;
  }

  a:hover{
    img{
      opacity: 1;
    }

    p{
      color: $gray-dark;
    }
  }
}

#news{
  h6 span{
    color: $brand-primary;
  }

  a:hover{
    h6{
      color: $gray-dark;
    }
  }
}
