---
---

@import "bootstrap/bootstrap";

@font-face {
  font-family: 'Fort';
  src: url('fonts/Fort-Bold.eot');
  src: url('fonts/Fort-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Fort';
  src: url('fonts/Fort-Extrabold.eot');
  src: url('fonts/Fort-Extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}


body {
  -webkit-scroll-snap-type: mandatory;
  font-family: 500;

}
header#header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;

  #logo, #section-name {
    background-color: $gray;
    padding: $spacer;
  }

}


#slides  {
  z-index: 5;

  .slide {
    ///-webkit-scroll-snap-coordinate: 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    background-color: white;
    height: 100vh;

    padding: 10rem;
  }
}

#menu {
  position: fixed;
  top: 0px;
  right:0px;
  padding: $spacer;
}


.section-full {
  height: 100vh;
  -webkit-scroll-snap-coordinate: 0% 0%;
}
